.kvcard-container {
  margin: 20px 20px 45px;
  width: calc(100% - 40px);
  display: flex;
  justify-content: space-around;
}

.kvcard-content {
  padding: 30px;
  text-align: center;
  font-size: 1.5em;
}